@font-face {
    font-family: 'marianne';
    src: url(../font/Marianne-Regular.woff) format('woff');

}

@font-face {
    font-family: 'brockmann';
    src: url(../font/brockmann-medium-webfont.woff) format('woff');
    font-display: swap;
}


.hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

/* Image principale à droite */
.custom__shape {
    flex-grow: 1; /* prend tout l'espace restant */
    max-width: 600px;
    height: 450px;
    background-image: url(../images/IMG-20250712-WA0001.jpg);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    transition: flex 0.3s ease;
    position: relative;
    margin: 0px 20px 20px 0;
    z-index: 1;
}

.custom__shape::before {
    content: '';
    position: absolute;
    top: 75px;
    left: 0;
    width: 165px;
    height: 215px;
    background: #E5E4E4;
    border-radius: 0 30px 30px 0;
    z-index: 0;

}
.custom__shape::after {
    content: '';
    position: absolute;
    top: 85px;
    left: -20px;
    width: 170px;
    height: 195px;
    background-image: url(../images/IMG-20250706-WA0013.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px 30px 30px 30px;
    border: solid 1px #c2c2c2;
    z-index: 3;
}

/* Container des hero-sub */
.hero-sub-container {
    display: flex; /* laisser les éléments s’aligner automatiquement */
    gap: 10px;
    margin-top: 95px;
    z-index: 2;
    margin-right: 10px;
    margin-left: 10px;
}

/* Chaque sub */

.hero-sub {
    position: relative; 
    width: 180px;
    height: 180px;
    border-radius: 30px;
    transition: opacity 0.3s ease, width 0.3s ease, margin-left 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1);
  transition: transform 0.5s ease;
    
}
.bounce{
    animation: slideLeft 1s ease-in-out alternate;
}

@keyframes slideLeft {
    0% {
      transform: translateX(-30px);
      opacity: 0;
    }
  
    70% {
      transform: translateX(5px);
      opacity: 1;
    }
  
    85% {
      transform: translateX(-3px);
    }
  
    100% {
      transform: translateX(0);
    }
  }

.hero-link {
    position: absolute;
    inset: 0;        /* top/right/bottom/left = 0 */
    display: block;
}

.hero-sub:hover {
    
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}




.hero-sub-container .hero-sub:nth-child(1)
{
    background-image: url(../images/IMG_20250709_175610_266.jpg);
    background-size: cover;
    background-position: center;
    border: solid 1px #c2c2c2;
}
.hero-sub-container .hero-sub:nth-child(2)
{
    background-image: url(../images/kickflipDriss.png);
    background-size: cover;
    background-position: center;
    border: solid 1px #c2c2c2;
}
.hero-sub-container .hero-sub:nth-child(3)
{
    background-image: url(../images/FB_IMG_1697614420391.jpg);
    background-size: cover;
    background-position: center;
    border: solid 1px #c2c2c2;
}

/* Responsive : masquer progressivement les subs de gauche à droite */
@media screen and (max-width: 1200px) {
    .hero-sub-container .hero-sub:nth-child(1) { display: none; }
}
@media screen and (max-width: 1050px) {
    .hero-sub-container .hero-sub:nth-child(2) { display: none; }
}
@media screen and (max-width: 900px) {
    .hero-sub-container .hero-sub:nth-child(3) { display: none; }
}
@media screen and (max-width: 750px) {
    .hero-sub-container .hero-sub:nth-child(4) { display: none; }
}

.brockmanTitle p {
  position: relative;
  display: inline-block;
  font-family: 'brockmann';
  font-size: 2.5em;
  text-align: center;
  
  line-height: 0.85;
  color: #212221;
  cursor: pointer;
}

.brockmanTitle a {
    text-decoration: none;  
    color: #212221;
  }


.brockmanTitle p::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.brockmanTitle p:hover::after {
  width: 100%;

}

.brockmanTitle i{
    font-size: inherit;
   line-height: inherit;
}
.brockmanTitle {
  width: max-content; /* ou fixe, ex: 400px */
  margin: 20px auto; 
  text-align: center;  
}

.italic-reverse {
  display: inline-block;
  transform: skewX(12deg);
  font-size: inherit;
  line-height: inherit;
}

.separator{
    width: 90%;
    height: 1px;
    background-color:rgb(98, 98, 98);
    margin: 40px auto;
    border-radius: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr;
    gap: 20px;
    align-items: start;
    text-align: start;
    margin: 0 20px;
    margin-bottom: 20px;
}
.grid-item:nth-child(1) {
    text-align: start;
    width: 250px;

    margin:20px;
}
.grid-item i{
    font-size: inherit;
  line-height: inherit;
}
.grid-item:nth-child(2) {
    text-align: end;
}
.grid-item:nth-child(3) {
    text-align: start;


}
.grid-item:nth-child(4) {
    text-align: start;
}
.grid-item p {
    margin: 0;
    font-size: 1.2em;
}

@media screen and (max-width: 900px) {
   
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr; /* deux colonnes égales */
        gap: 20px;
    }

    .grid-item:nth-child(4) {
        display: none;
    }

    .grid-item:nth-child(2),
    .grid-item:nth-child(3) {
        grid-column: auto; /* supprime le span précédent */
        text-align: start;
    }
   
   
}
@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr; /* deux colonnes égales */
        gap: 20px;
    }

    .grid-item:nth-child(1),
    .grid-item:nth-child(4) {
        display: none;
    }

    .grid-item:nth-child(2),
    .grid-item:nth-child(3) {
        grid-column: auto; /* supprime le span précédent */
        text-align: start;
    }
}




.form-container {
    position: relative;
    margin-top: 20px;
    padding: 100px;
    max-width: 100%;
    width: 100%;
    text-align: start;
    justify-content: start;
    color: #212221;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.form-container::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 80%;
    height: 90%;
    background-color: rgba(241, 124, 28, 0.83);
    z-index: -1;

}

.form-container input {
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 70%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    justify-content: flex-start;
}

.form-container textarea {
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 70%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-container button {
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 70%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-container button:hover {
    background-color: black;
    color: white;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;

    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
    .form-container {
        grid-template-columns: 1fr 1fr; /* une seule colonne */
        padding: 20px;
    }

    .form-container input,
    .form-container textarea,
    .form-container button {
        width: 100%; /* pleine largeur */
    }
}





.video-container {
    margin-top: 50px;
    position: relative;
    display: flex;
    margin-bottom: 50px;
    max-width: 90%;
    margin:20px auto;
    height: 300px;
    flex-direction: row;
    gap: 2px;
    /* hauteur fixe */




}



.video-container video {
    width: 33%;
    height: 300px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    * {
        font-size: 14px;
        /* Taille de police plus petite pour les écrans plus petits */
    }

    .video-container {
        animation: none;
        margin: auto;
        max-width: 80%;
        gap: 2px;
        margin-bottom: 50px;
    }
   

    body {
        max-width: 100%;
        margin: 5px;
    }




}















.bttn {
    display: inline-block;
    padding: 10px 20px;
    border: solid 2px white;
    text-align: center;

    height: auto;
    width: fit-content;
    color: white;
    text-decoration: none;


    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.bttn:hover {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    color: white;
    border-color: white;
    border: solid 1px white;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.bttn-2 {
    display: inline-block;
    padding: 10px 20px;
    border: solid 2px black;
    text-align: center;

    height: auto;
    width: fit-content;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#loading-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

#loading-bar {
    width: 0;
    height: 100%;
    background: #FF5C35;
    transition: width 0.25s;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.loader div {
    width: 16px;
    height: 16px;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
    animation: grow-shrink 1.5s infinite;
}

.loader div:nth-child(1) {
    animation-delay: 0s;
}

.loader div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes grow-shrink {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}



.hero-content h1 {
    font-size: 30px;
    font-weight: lighter;
    font-family: 'marianne';
    border-radius: 50%;
    border: 2px solid white;
    width: 100px;
    /* largeur fixe */
    height: 100px;
    /* même valeur que width */
    display: flex;
    /* pour centrer le texte */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    animation: pulse 2s infinite;
    -webkit-tap-highlight-color: transparent;
    /* évite le carré bleu sur mobile */
    outline: none;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    font-weight: lighter;
    font-family: 'marianne';
    border-radius: 50%;
    border: 2px solid black;
    width: 100px;
    /* largeur fixe */
    height: 100px;
    /* même valeur que width */
    display: flex;
    /* pour centrer le texte */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    animation: pulseblack 2s infinite;
    -webkit-tap-highlight-color: transparent;
    /* évite le carré bleu sur mobile */
    outline: none;
    box-sizing: border-box;
}



h1:hover {
    animation: spin 10s linear infinite, pulseblack 2s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulseblack {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(255, 92, 53, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 92, 53, 0);
    }
}

body.dark-mode h1 {
    border: 2px solid white;
    animation: pulse 2s infinite;
}

body.dark-mode h1:hover {
    border: 2px solid white;
    animation: pulse 2s infinite;
    animation: spin 10s linear infinite, pulseblack 2s infinite;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 92, 53, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 92, 53, 0);
    }
}

body.dark-mode {
    background-color: #1e1d1d;
    color: #e0e0e0;
}

body.dark-mode content {
    background-color: #121212;
    color: #e0e0e0;

}

body.dark-mode p {

    color: #e0e0e0;
}

body.dark-mode .welcome h2 {
    color: #ffffff;
}

body.dark-mode .bttn-2 {
    border: solid 2px white;
    color: white;
}

.section-noise {

    position: relative;
    overflow: hidden;
    height: 700px;
}

#tv-noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.animation {
    position: relative;
    z-index: 1;
    /* Ajustez la hauteur selon vos besoins */
}

html {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}