@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bandeau h1 {
    font-size: 2.5em;
    text-align: center;
    margin: auto;

    padding: 20px;

}

.intro {
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    color: #666;
    font-size: 1.1em;
    line-height: 1.6;
}

.interview-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}








.question {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.answer {
    margin-bottom: 15px;
    color: #555;
}

.interviewer {
    font-style: italic;
    color: #3a3a3a;
    margin-bottom: 5px;

}



.magazine-logo {
    text-align: right;
    color: #888;
    font-size: 0.9em;
    margin-top: 20px;
}


.caption {
    font-size: 0.8em;
    color: #777;
    text-align: center;
    margin-top: 5px;
}

.separator {
    border-top: 1px solid rgb(0, 0, 0);
    /* couleur bleue */
    width: 40%;
    /* largeur du trait */
    margin: 20px auto;
    padding: 10px 0;
    /* espace vertical + centrage horizontal */
}

body {
    overflow-x: hidden;
    /* empêche le scroll horizontal */
    overflow-y: auto;
    /* laisse défiler verticalement si nécessaire */
}








ul {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: black;


}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    text-decoration: underline;
    color: peru;
}

.bandeau {
    width: 100%;
    position: relative;
}

.bandeau img {
    width: 100%;
    height: 500px;
    display: block;

    object-fit: cover;


}





.bandeau .interview-title {
    position: absolute;
    top: 75%;
    /* centre verticalement */
    left: 50%;
    /* centre horizontalement */
    transform: translate(-50%, -50%);
    /* recentre parfaitement */
    text-align: center;
    padding-bottom: 5px;

    color: white;
    font-size: 2.3rem;
    font-weight: bold;

    /* Optionnel : petit fond sombre derrière le texte pour lisibilité */

    padding: 10px 20px;

}

.lien-retour {
    position: absolute;
    top: 85%;
    /* centre verticalement */
    left: 50%;
    /* centre horizontalement */
    transform: translate(-50%, -50%);
    /* recentre parfaitement */
    text-align: center;
    display: flex;
    gap: 20px;
    color: white;
}

@media screen and (max-width: 768px) {
    .lien-retour {
        position: absolute;
        top: 15%;
        /* centre verticalement */
        left: 50%;
        /* centre horizontalement */
        transform: translate(-50%, -50%);
        /* recentre parfaitement */
        text-align: center;
        display: flex;
        gap: 20px;
        color: black;
    }

    .link a {
        color: black;
    }

    .interview-title {
        padding-bottom: 20px;
        font-size: 1.5rem;
    }


}



@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.link {
    background-color: transparent;
    color: black;
    border: solid 2px grey;


    text-decoration: none;
    font-weight: lighter;
    transition: background-color 0.3s, color 0.3s;
    animation: bounce 2s;
}

.link a {
    text-decoration: none;
    color: black;
}

button.link:hover {
    background-color: grey;
    color: white;
    border: 2px solid grey;
}














@media screen and (max-width: 768px) {


    .bandeau {
        height: auto;
        padding: 10px;
    }






}