body {
    overflow-y: scroll;


}


.italic-reverse {
    display: inline-block;
    transform: skewX(12deg);
    font-size: inherit;
    line-height: inherit;
  }
  
  .separator{
      width: 90%;
      height: 1px;
      background-color:rgb(98, 98, 98);
      margin: 40px auto;
      border-radius: 1px;
  }
  
  .grid-container {
      display: grid;
      grid-template-columns: 1fr 2fr 3fr 4fr;
      gap: 20px;
      align-items: start;
      text-align: start;
      justify-content: flex-start;
      margin: 0 20px;
      margin-bottom: 20px;
      margin-top: 100px;
  }
  .grid-item:nth-child(1) {
      text-align: start;
      justify-content: flex-start;
      width: 250px;

  }
  .grid-item i{
      font-size: inherit;
    line-height: inherit;
  }
  .grid-item:nth-child(2) {
      text-align: end;
  }
  .grid-item:nth-child(3) {
      text-align: start;
  
      font-size: 13px;
  
  }
  .grid-item:nth-child(4) {
      text-align: start;
      font-size: 13px;
  }
  .grid-item p {
      margin: 0;
      font-size: 1.2em;
  }

  .grid-item a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
  }

  .grid-item a:hover{
        background-color: seashell;
        width: 100px;
        height: 80px;
  }
  

  .color-container {
    z-index: -2;
    width: 100%;
    padding: 20px;
}
.color-container::before{
    content: "";
    position: absolute;
    top: 200px;
    left: 0;
    width: 55%; /* couleur sur 50% seulement */
    height: 400px;
    background-color: rgba(241, 124, 28, 0.83);
    z-index: -1; /* derrière le contenu */

}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr ;
    
    }
    
    .grid-item:nth-child(1), .grid-item:nth-child(4){
        display: none;
    }
    .color-container__2 {
        z-index: -2;
        width: 100%;
        padding: 20px;
    }
    .color-container__2::before{
        content: "";
        position: absolute;
        top: 1850px;
        left: 100px;
        width: 50%; /* couleur sur 50% seulement */
        height: 400px;
        background-color: rgba(241, 124, 28, 0.83);
        z-index: -1; /* derrière le contenu */
    
}
}




