body {
    overflow: scroll;
}



.bandeau {
    background-image: url(../images/2140.jpg);
    background-size: cover;
    background-position: top;
    height: 50%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 20px;

}











.content {
    flex-grow: 1;
    /* Prend l'espace restant */
    padding: 20px;
}

.second-body {
    display: flex;
    /* Utiliser flexbox pour la mise en page */

}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        /* La sidebar prend toute la largeur sur les petits écrans */
        padding: 10px;
    }

    .content {
        padding: 10px;
        /* Réduire le padding pour les petits écrans */
    }

    iframe {
        width: 100%;
        /* L'iframe prend toute la largeur de son conteneur */
        height: 300px;
        /* Hauteur fixe pour l'iframe */
    }

}